@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  @apply font-sans relative leading-6 m-0 bg-[#fbefe7];
}

.root {
  @apply inline;
}

.breed-image {
  object-view-box: inset(0.5rem);
}
